header, .toolbar {
  background: linear-gradient(#fe4365, #fe768f);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0; }
  header button, header a, .toolbar button, .toolbar a {
    background: none;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font: inherit;
    border-right: 1px solid #555;
    line-height: 40px;
    display: inline-block;
    margin: 0;
    padding: 0 10px; }

body {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.pages-list .site-info {
  color: #333; }
  .pages-list .site-info * {
    margin: 0;
    padding: 0 10px; }
  .pages-list .site-info address {
    color: #777; }
.pages-list ul {
  margin: 0;
  padding: 0; }
  .pages-list ul li {
    margin: 0;
    padding: 8px 10px;
    list-style: none;
    border-bottom: 1px solid #ccc; }
    .pages-list ul li span {
      display: block; }
    .pages-list ul li .snippet {
      color: #777;
      font-size: 0.85em; }

.elements-list .subtoolbar {
  background: linear-gradient(#da0129, #fe103b);
  border-top: 1px solid #555; }
.elements-list .subsubtoolbar.headings {
  background: linear-gradient(#a7011f, #da0129);
  border-top: 1px solid #555; }
  .elements-list .subsubtoolbar.headings button {
    font-weight: bold;
    line-height: 40px; }
.elements-list .page-info {
  padding: 10px 10px 10px 10px;
  background: #eee; }
  .elements-list .page-info * {
    margin: 0; }
  .elements-list .page-info address {
    color: #999; }
.elements-list .page p, .elements-list .page h1, .elements-list .page h2, .elements-list .page h3 {
  padding-left: 10px;
  padding-right: 10px; }

.paragraph-element-edit * {
  outline: none; }
.paragraph-element-edit p {
  padding: 0 10px; }
