<div class="welcome-page">
  <h1>
    Tuesday
  </h1>

  <p>
    Tuesday is a site builder (CMS) that works on your mobile phone.
  </p>

  <p>
    Want to create a small site for your business, hobby group or wedding? No need to dig out your laptop
    and learn a big system, create it right now on the device that is always with you.
  </p>

  <p class="small">
    Tuesday has been tested on iOS 7+ and Android 4.0+. There is no app at the moment, you just do it
    all through your mobile browser, but I'll probably make an app later yo.
  </p>

  <center>
    <%= link_to "Create my site!", sites_path %>
  </center>
</div>