  <div class="f">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="f">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>

  <script>
    function updatePath(){
      var value = $("#page_name").val();
      value = value.toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/^-+/,'').replace(/-+$/, '');
      $("#page_path").val(value);
    };

    $("#page_name").keyup(updatePath).blur(updatePath);
  </script>
