<h1>
  New Page
</h1>

<%= form_for [@site, @page] do |f| %>
  
  <%= render :partial => 'form', :locals => { :f => f } %>

  <div class="f">
    <%= submit_tag "Save" %> or <%= link_to "cancel", :back %>
  </div>

<% end %>