/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: 'helvetica neue', sans-serif;
  background: linear-gradient(#eee, #ccc);
}

$color: #eee;

h1,h2,h3,h4,h5{
  font-weight: 200;
}

*{
  box-sizing: border-box;
}

.page-wrapper{
  margin: 0 40px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  min-height: 100%;
  padding: 20px;
}

header{
  position: relative;
  border-radius: 3px;
  background: linear-gradient(#f0a, #c08);
  color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  border-top: 1px solid rgba(255,255,255,0.8);
  border-bottom: 1px solid rgba(0,0,0,0.5);

  *{
    margin: 0;
    padding: 0;
    line-height: 40px;
  }

  h1{
    font-size: 1em;
    padding: 0 10px;

    b{
      text-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
  }

  .auth{
    position: absolute;
    right: 10px;
    top: 0;

    a{
      font-size: 0.85em;
      color: white;
    }
  }
}

