// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

.pages-controller{

  @media #{$is_mobile}{ 
  }

  @media #{$not_mobile}{ 
    .two-column-layout{
      position: relative;
      margin-top: 20px;

      .left-column{
        width: 300px;
        position: absolute;
        border-right: 1px solid #ccc;
        margin-right: 20px;
        min-height: 1000px;
      }

      .right-column{
        margin-left: 320px;
      }
    }
  }

  .edit-container{
  }

  input.editing-field{
    font-size: 2em;
    width: 100%;
    margin-top: 10px;
  }

  select{
    font: inherit;
  }
}