// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "common";

.pages-controller{
  .edit-container{
  }

  .heading-edit{
    input.editing-field{
      font-size: 2em;
      width: 100%;
      margin-top: 10px;
    }

    select{
      font: inherit;
    }
  }

  .page.sorting > *{
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 24px;
    background-image: image-url("reorder.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .image-edit{
    form{
      display: inline-block;
      margin: 0;
      padding: 0;
      position: relative;

      button{

      }
      input{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
    }

    center{
      margin-top: 10px;

      img{
        width: 128px;
        max-height: 192px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
        background: white;
      }
    }
  }
}

.mobile.pages-controller{
  .expando{
    padding: 5px 0;

    button{
      width: 32px;
      height: 32px;
      display: inline-block;

      border-radius: 3px;
      border: 1px solid #999;
      background: white;
      color: #999;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
  }

  .two-column-layout{
    .left-column{
      display: none;
    }
  }
}

.not-mobile.pages-controller{
  .expando{
    display: none;
  }

  .two-column-layout{
    position: relative;
    margin-top: 20px;

    .left-column{
      width: 300px;
      position: absolute;
      border-right: 1px solid #ccc;
      margin-right: 20px;
      min-height: 1000px;
    }

    .right-column{
      margin-left: 320px;
    }
  }
}

