<h3>
  Your Sites
</h3>

<ul class="sites-list">
<% current_user.sites.each do |site| %>
  <li><%= link_to site.name, site %></li>
<% end %>
</ul>

<p>
  &raquo; <%= link_to "Create new site", new_site_path %>
</p>
